.header {
  width: 100%;
  height: 53px;
  margin: 0 auto;
  padding: 20px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  height: 53px;
  margin: 0 auto;
}
.link {
  display: flex;
  align-items: center;
  justify-content: start;
}
.git img,
.velog img {
  height: 33px;
  padding: 10px 0;
}
.git img {padding-right: 50px;}
.logo {
  height: 53px;
  letter-spacing: 2px;
}
.LJH {
  font-family: 'Noto Serif KR', serif;
  font-size: 36px;
  text-align: center;
}
.introduce {font-size: 11px;}
.jump {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jump a {font-size: 18px;}
.jump li:first-child {padding-right: 50px;}
.section01 {
  position: relative;
  width: 1250px;
  height: 100vh;
  margin: 0 auto;
}
.title {
  position: absolute;
  width: 657px;
  height: 350px;
  top: 20%;
}
.welcome {
  font-size: 35px;
  margin-bottom: 10px;
}
.portfolio {
  font-size: 110px;
  color: #000;
  width: 657px;
}
.puppy {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25px;
  border: 1px solid #000;
}
.notebook {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 1000px;
  z-index: -1;
}
.dog {
  position: absolute;
  top: 0;
  right: 0;
}