.header {
  width: 100%;
  height: 53px;
  margin: 0 auto;
  padding: 20px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  height: 53px;
  margin: 0 auto;
}
.link {
  display: flex;
  align-items: center;
  justify-content: start;
}
.git img,
.velog img {
  height: 33px;
  padding: 10px 0;
}
.git img {padding-right: 50px;}
.logo {
  height: 53px;
  letter-spacing: 2px;
}
.LJH {
  font-family: 'Noto Serif KR', serif;
  font-size: 36px;
  text-align: center;
}
.introduce {font-size: 11px;}
.jump {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jump a {font-size: 18px;}
.jump li:first-child {padding-right: 50px;}
.section01 {
  width: 100%;
  height: 100vh;
}
.title {
  position: absolute;
  width: 657px;
  height: 350px;
  top: 50%;
  transform: translateY(-50%);
}
.welcome {
  font-size: 35px;
  margin-bottom: 10px;
}
.portfolio {
  font-size: 110px;
  color: #000;
  width: 657px;
}
